/* This is the body */

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

body {
    margin: 0;
}

/* This is the header */

.header-section {
    background-image: url("../Assets/Hero-bg.png");
    height: 800px;
}

/* The navigation section starts from here */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 200px;
}





nav .first-logo {
    color: #4E47FF;
    font-size: 30px;
    font-weight: 900;
    text-decoration: none;
}

.common-button {
    background-color: #4E47FF;
    border: none;
    border-radius: 10px;
    padding: 10px 35px;
    color: white;
    font-size: 16px;
    font-weight: bold;
}







/* The banner section starts from here */

.banner {
    text-align: center;
    margin-top: 200px;
}

.banner-title {
    font-size: 65px;
    font-weight: bold;
}

.banner-logo {
    color: #4E47FF;
    font-weight: 900;
}

/*  This is the main section */

main {
    margin: 0 auto;
    max-width: 1150px;
}

/* The Action section starts from here */

.action {
    display: flex;
    justify-content: space-between;
    gap: 300px;
    align-items: center;
    margin: 150px 0;

}

.action-primary {
    padding: 60px 0;
}

.action-title {
    font-size: 45px;
    font-weight: bold;
}

.action-description {
    font-size: 25px;
    color: #252432;
    opacity: 50%;
    font-weight: normal;
}

.action img {
    border-radius: 50px;
    border: none;
}

/* The Productive user section starts from here */

.productive-user {
    background-color: #e0dfff;
    border-radius: 25px;
    padding: 50px 140px;
    margin: 200px 0;


}

.productive-user-title {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: #252432;
}

.p-user-data {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;

}

.data-title {
    font-size: 80px;
    color: #4E47FF;
    font-weight: bold;
    margin: 0;
}

.data-description {
    font-size: 20px;
    color: black;
    opacity: 50%;
    margin: 0;
}

/* The Review section starts from here */

.review {
    margin: 200px 0;
}

.review-title {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

.review-box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.review-box {
    background-color: #ebebeb;
    padding: 25px;
    height: 250px;
    width: 350px;
    border-radius: 15px;
}

.star-container {
    display: flex;
}

.avatar img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

.avatar {
    display: flex;
    align-items: center;
    gap: 20px;
}

.avatar-title {
    font-size: 18px;
    opacity: 70%;
}

.avatar p {
    font-size: 15px;
    font-weight: normal;
    opacity: 70%;
}

/* The Subscription section starts from here */
/* The newsletter section starts from here */
/* The footer section starts from here */